{% extends "core/base.html" %}

{% block title %}About{% endblock title %}

{% load static %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="slider-area">
                    <div class="slider-height2 slider-bg5 d-flex align-items-center justify-content-center">
                        <div class="hero-caption hero-caption2">
                            <h2>About</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="about-details">
        <div class="container">
            <div class="row">
                <div class="offset-xl-1 col-xl-10 col-lg-8">
                    <div class="section-tittle mb-15">
                        <h2>Welcome To G-One</h2>
                    </div>
                </div>
                <div class="offset-xl-1 col-xl-9">
                    <div class="about-pera">
                        <p>
                            We are a passionate group of three college students from 
                            the second year diploma program at DIT, united by our love 
                            for technology and entrepreneurship. Our journey began with a simple idea: 
                            to create an e-commerce platform that offers a seamless 
                            shopping experience, combined with a commitment to quality 
                            and customer satisfaction.
                        </p>
                        <p>The name "G-One" stands for "Group One," symbolizing our collaborative spirit 
                            and our aim to be your number one choice for online shopping. As students, 
                            we understand the importance of efficiency, affordability, and convenience 
                            in today's fast-paced world. This drives us to constantly innovate and 
                            enhance our platform to meet your needs.</p>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="offset-xl-1 col-xl-10 col-lg-8">
                    <div class="section-tittle mb-15">
                        <h2>Our Goal</h2>
                    </div>
                </div>
                <div class="offset-xl-1 col-xl-9">
                    <div class="about-pera p-0">
                        <p>
                            Our mission is to revolutionize the e-commerce landscape by 
                            providing a user-friendly, reliable, and secure online shopping experience. 
                            We believe in the power of technology to transform lives, and we are 
                            dedicated to making online shopping accessible and enjoyable for everyone.
                        </p>
                        <p>Customer-Centric Approach: 
                            Your satisfaction is our top priority. 
                            We strive to provide exceptional customer service and ensure that 
                            your shopping experience with us is nothing short of excellent.
                            Quality Assurance: We are committed to offering high-quality products from 
                            trusted suppliers. Every item on our platform is carefully selected to meet 
                            our stringent quality standards.
                            Innovation: We continuously seek to improve our platform by 
                            integrating the latest technologies and trends in e-commerce. 
                            Our goal is to make your shopping journey as smooth and enjoyable as possible.
                            Integrity: We believe in conducting our business with honesty and transparency. 
                            Trust and integrity are the foundations of our relationship with our customers.
                        </p>
                    </div>
                </div>
            </div>

            <div class="row mt-5">
                <div class="offset-xl-1 col-xl-10 col-lg-8">
                    <div class="section-tittle mb-15">
                        <h2>Join Us On Our Journey</h2>
                    </div>
                </div>
                <div class="offset-xl-1 col-xl-9">
                    <div class="about-pera p-0">
                        <p>
                            We are excited to have you with us as we continue to 
                            grow and evolve. At G-One, we are more than just an e-commerce platform; 
                            we are a community. We invite you to explore our wide range of products,
                            enjoy our exceptional service, and be a part of our journey towards redefining online shopping.
                            Thank you for choosing G-One. Together, we can achieve great things!
                        </p>
                    </div>
                </div>
            </div>

        </div>
    </div>

{% endblock content %}